<div class="container">

  <h1 class="title-dashboard"><%= current_user.username %></h1>

  <div class="row">
    <div class="booking">
      <h1>Your bookings</h1>
      <div class="booking-container">
        <%# @bookings.each do |booking| %>
        <div class="booking-card-body"></div>
        <!-- A booking card contain a fetch title and user avatar -->
        <!-- We need to print calculated price -->
        <!-- We need to print date of rent -->
        <!-- We need to print date of booking -->
      </div>
    </div>
    <div class="board-manager">
      <h1>Boards manager</h1>
      <div class="board-manager-container">
        <div class="board-manager-cards">
          <% current_user.boards.each do |board| %>
            <div class="row">
              <div class="board-manager-picture col-xs-6"><%= cl_image_tag board.photo %></div>
              <div class="board-manager-status col-xs-6">Board status</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form>
  <input type="checkbox" id="availability" onclick="if(this.checked){myFunction()}">
</form> -->







