.wrapper {
  border: solid 4px black;
  display: flex;
}

.container {
  width: 700px;
  border: solid 4px black;
  margin: 0px;
  flex: 1 1 auto;
}

.card {
  width: 300px;
  height: 250px;
  border: solid 4px black;
  margin: 25px 0px;
  color: white;
  position: relative;
}

#map {
  width: 530px;
  height: 100vh;
  border: solid 4px black;
  margin-left: 25px;
  color: white;
  position: sticky !important;
  top: 0 !important;
  flex: 0 0 auto;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.flex-container.all {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 40px;
}

.flex-container.boards {
  display: flex;
  flex-direction: column;
}

.search-bar {
  width: 700px;
  height: 50px;
  border: solid 4px black;
  margin-bottom: 15px;
  margin-left: 45px
}

.card-title {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 25px;
}

.card-price {
  position: absolute;
  bottom: 8px;
  right: 12px;
  color: red;
}

.card-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 25px;
}
