.wrapper {
  display: flex;
}

.container {
  width: 700px;
  margin: 0px;
  flex: 1 1 auto;
}

.search-bar {
  max-width: 80vw;
  height: 50px;
  margin-bottom: 15px;
  margin: 3vh;
}

.card {
  width: 280px;
  height: 420px;
  margin: 25px 0px;
  color: white;
  position: relative;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.board-details {
  width: auto;
  height: 76px;
  background-color: rgba(55,57,58,0.9);
  border-bottom: 3px solid #30C6FD;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 0px 0px;
}

.div-sizer {
  visibility: hidden;
}

#map {
  width: 30vw;
  height: 100vh;
  // border: solid 4px black;
  margin-left: 25px;
  color: white;
  position: sticky !important;
  top: 0 !important;
  flex: 0 0 auto;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.card-wrapper a:hover {
  opacity: 0.5;
}

.flex-container.all {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 40px;
}

.flex-container.boards {
  display: flex;
  flex-direction: column;
}


.card-title {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 17px;
  width: 70%;
}

.card-price {
  position: absolute;
  bottom: 8px;
  right: 12px;
}

.card-avatar {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #30C6FD;
  background-size: cover;
}

.avatar {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 1px solid #30C6FD;
  background-size: cover;
}
