.title-dashboard {
  color: #E8EEF2;
  font-weight: bold;
  text-align: center;
}

.dashboard-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.booking-card-body {
  width: 91%;
  height: 115px;
  background-color: #847896;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 120px;
}

.card-board-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 25px auto;
}

.booking-container.booking {
  background-color: #655C73;
  width: 40%;
  color: #E8EEF2;
}

.booking-content.booking {
  border-top: 3px solid #30C6FD;
  padding-top: 10px;
}

.booking-container.boards {
  background-color: #655C73;
  width: 40%;
  color: #E8EEF2;
  height: 100%;
}

.booking-content.boards {
  border-top: 3px solid #30C6FD;
  padding-top: 10px;
}

.board-manager-picture {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  height: 300px;
  width: 200px;
  img {
    height: 100%;
  width: auto;
  }
}

.board-manager-status {
  font-size: 0.9em;
  background-color: #847896;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 15px;
  // height: 104.7%;
  height: 300px;
  width: 250px;
  padding-right: 10px;
}

.board-status-title {
  margin: 0 auto;
 }

#availability {
  margin-left: 10px;
}

.new-board-modal {
  padding: 30px;
  padding-top: 0px;
}

.input[type="checkbox"] {
    margin: 2px 10px 0;
}

a:link {
  color: #30C6FD;
}

.review-wrapper {
  padding-bottom: 40px;
}

strong {
  letter-spacing: 1.2px;
}

