.container {
  width: 100%
}

.row {
}

.booking {
  width: 550px;
  height: 610px;
  background-color: #655C73;
  border: 2px solid #30C6FD;
}

.booking-container {
  border: 2px solid #fff;
  height: 504px;
  width: 510px;
}

.board-manager {
  width: 550px;
  height: 680px;
  background-color: #655C73;
  border: 2px solid #30C6FD;
}

.board-manager-container {
  border: 2px solid #fff;
  height: 504px;
  width: 510px;
}

.board-manager-cards {
  border: 2px solid #fff;
  height: 238.79px;
  width: 510px;
}

.board-manager-picture {
  border: 2px solid #fff;
  height: 238.79px;
  width: 242.12px;
}

.board-manager-status {
  border: 2px solid #fff;
  height: 238.79px;
  width: 242.12px;
}
