.title-dashboard {
  color: #E8EEF2;
  font-weight: bold;
  text-align: center;
}

.dashboard-container {
  width: 80%;
  margin: 0 auto;
}

.booking-card-body {
  width: 91%;
  height: 115px;
  background-color: #847896;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-board-container {
  display: flex;
  justify-content: space-around;

}

.booking-container {
  // border: 2px solid #fff;
  // height: 504px;
  // width: 510px;
  background-color: #655C73;
  border: 1px solid white;
  width: 40%;
  color: #E8EEF2;
}

.dashboard-container {
  display: flex;
  justify-content: space-around;
}
.title-dashboard {
  margin-left: 200px;
}
.booking {
  // width: 550px;
  // height: 610px;
  // background-color: #655C73;
  // border-left: 2px solid #30C6FD;
  // color: #E8EEF2;
  // margin-right: 15.5%;
  // margin-top: 5.3%;
  // text-align: center;
}


// .board-manager {
//   width: 550px;
//   // height: 610px;
//   background-color: #655C73;
//   border-left: 2px solid #30C6FD;
//   color: #E8EEF2;
//   margin-top: 5.3%;
//   text-align: center;
// }

// .board-manager-container {
//   border: 2px solid #fff;
//   // height: 504px;
//   width: 510px;
// }

// .board-manager-cards {
//   border: 2px solid #fff;
//   width: 510px;
// }

.board-manager-picture {
  border: 2px solid #fff;
  max-height: 200px;
  width: 30%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #847896;
  img{
    height: 100%
  }
}



// .board-manager-status {
//   border: 2px solid #fff;
//   height: 250px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }
