// Specific CSS for your home-page
.background {
  height: 650px;
  padding: 0px;
}

.container {
  width: 100%;
}

#middle-one {
  position: relative;
}

#broswe {
  position: absolute;
  top: 92px;
  left: 90px;
  height: 70px;
  width: 250px;
  border-radius: 45px;
  font-size: 35px;
  font-family: Roboto;
  color: white;
  font-weight: bold;
  background-color: #5B6065;
  border: solid 4px #E8EEF2;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.55);
}




