// Specific CSS for your home-page
.container-fluid {
  padding: 0px;
}

.row {
  margin: 0px;
}

.trio-banner {
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
  }
}
