.container.main {
  width: 980px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.flex-container.top {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

.flex-container.bottom {
  display: flex;
  justify-content: space-between;
}

.article-picture {
  height: 530px;
  width: 350px;
  // border: solid 4px black;
  border-radius: 3px;
  box-shadow: 4px 6px 0 0 rgba(0,0,0,0.1);
  color: white;
  background-size: cover;
}

.article {
  height: 530px;
  width: 580px;
  border: solid 4px black;
  margin-right: 0px;
  color: white;
  padding: 25px;
  display: flex;
  align-items: center;
}

.article p {
  text-align: left;
}

.specifics {
  height: 200px;
  width: 350px;
  border: solid 3px black;
  bottom: 30px;
  left: 75px;
  color: white;
  margin-bottom: 20px;
}

.booking-button {
  background-color: #b2b2b2;
}

.reviews {
  height: 400px;
  width: 100%;
  border: solid 4px black;
  color: white;
  border-bottom: transparent;
}

.review {
  border: solid 2px black;
  height: 150px;
  width: 100%;
  color: white;
  margin: 0px;
}
