.container.main {
  width: 980px;
  // height: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.flex-container.top {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

.flex-container.bottom {
  display: flex;
  justify-content: space-between;
}

.book-now {
  display: flex;
  justify-content: space-between;
}

.article-picture {
  height: 530px;
  width: 350px;
  border-radius: 3px;
  box-shadow: 4px 6px 0 0 rgba(0,0,0,0.1);
  color: #E8EEF2;
  background-size: cover;
}

.article {
  height: 530px;
  width: 580px;
  margin-right: 0px;
  color: #E8EEF2;
  padding: 25px;
  display: flex;
  align-items: center;
}

.article p {
  text-align: left;
}

.booking-button {
  background-color: #b2b2b2;
}

.reviews {
  width: 100%;
  border-bottom: transparent;
  text-align: left;
  color: #E8EEF2;
}

.review {
  border-left: solid 4px #30C6FD;
  width: 100%;
  color: #E8EEF2;
  margin: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  position: relative;
  h3 {
    margin-top: 5px;
  }
  margin-top: 15px;
}

.date-review {
  // margin-top: -37px;
  // margin-left: 195px;
  // position: absolute;
  // top: 71px;
  // left: -114px;
  font-size: 15px;
}

.review-text {
  margin-top: 10px;
  // position: absolute;
  // top: 50px;
  // left: 16px;
  font-size: 17px;
  margin-bottom: 20px;

}

.card-avatar-review {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid #30C6FD;
  background-size: cover;
  // position: absolute;
  // top: 4px;
  // left: 15px;
}

// .review-user {
//   position: relative;
// }

.review-username {
  // position: absolute;
  // left: 70px;
  // top: 0px;
  font-size: 24px;
  margin-bottom: 2px;
}

.article-content {
  background-color: #655C73;
  padding: 10px 20px;
  border-left: 3px solid #30C6FD;
}

.price-description {
  margin-left: 420px;
  margin-top: -28px;
}

.book-now {
  width: 130px;
  height: 30px;
  background: #5B6065;
  margin-top: 10px;
  border-radius: 45px;
  box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.55);
  text-transform: uppercase;
  span {
    margin: 0 auto;
    line-height: 1.8;
  }
}

.book-now:hover {
  color: #30C6FD;
}

.review-star {
  height: 30px;
  width: 30px;
}

.review-user {
  display: flex;
  margin-bottom: 17px;
}

.user-name-date {
  margin-left: 10px;
}
