<div class="navbar-bored">

  <%= link_to root_path do %>
  <h1 class="logo">Bored</h1>
  <% end %>

  <%= link_to new_user_session_path do %>
  <button type="button" class="button" id="login">Log in/ Sign up</button>
  <% end %>
</div>
