<div class="flex-container cards">
  <div class= "container">
    <div class= "row">
      <% @boards.each do |board| %>
      <div class= "col-xs-6">
        <div class= "card" style= "background-image: url(<%= asset_path 'Surf.jpg' %>)"">
         <div class= "card-title"> <%= board.title %> </div>
         <div class= "card-price"></div>
          </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="map">Map</div>
</div>
