<div class="container main">
  <div class="flex-container top">
    <div class="article-picture" style="background-image: url(<%= cl_image_path @board.photo %>)">
    </div>
    <div class="article">
      <p><%= @board.title %></p>
      <%= link_to "Book now", new_board_booking_path(@board) %>
    </div>
  </div>

  <div class="flex-container bottom">

    <div class="specifics">
      specifics
    </div>

    <div class="reviews"><p>Reviews</p>
      <div class= "review">
        <p>ceci est une review</p>
        <div class="review-user"></div>
        <div class="review-text"></div>
      </div>
      <div class="review">
        <p>ceci est une review</p>
        <div class="review-user"></div>
        <div class="review-text"></div>
      </div>
    </div>
  </div>
</div>
