.button{
  font-family: Roboto;
  background-color: #5B6065;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.55);
  border-radius: 45px;
  text-decoration: none;
}

.button.btn-browse {
  height: 70px;
  width: 250px;
  font-size: 30px;
  color: #E8EEF2;
  font-weight: bold;
  border: solid 4px #E8EEF2;
  align-self: center;
}

.button.btn-browse.home{
  position: absolute;
  top: 50px;
  text-align: center;
  left: 50%;
  margin-left: -125px;
  line-height: 2;
}

#login{
  width: 124px;
  height: 30px;
  font-weight: regular;
  font-size: 14px;
  text-transform: lowercase;
  color: #E8EEF2;
  border: solid 2px #E8EEF2;
  margin-left: -50%
}
