.button {
  font-family: Roboto;
  background-color: #5B6065;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.55);
  border-radius: 45px;
  text-decoration: none;
}

.button.btn-browse {
  height: 70px;
  width: 250px;
  font-size: 30px;
  color: #E8EEF2;
  font-weight: bold;
  border: solid 4px #E8EEF2;
  align-self: center;
}

.button.btn-browse.home {
  position: absolute;
  top: 50px;
  text-align: center;
  left: 50%;
  margin-left: -125px;
  line-height: 2.1;
}

.button.add-board {
  width: 145px;
  height: 36px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border: solid 2px #E8EEF2;
  margin: 0 auto;
  margin-top: 5%;
  line-height: 2.3;
  letter-spacing: .8px;
  margin-bottom: 5%;
}

.button.add-board:hover {
  width: 148px;
  height: 39px;
  line-height: 2.6;
}

.button.add-review {
  width: 112px;
  height: 27px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border: solid 2px #E8EEF2;
  margin: 0 auto;
  margin-top: 1%;
  line-height: 1.6;
  letter-spacing: .8px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.55);
}

.button.add-review:hover {
  color: #30C6FD;
}

#login {
  width: 124px;
  height: 30px;
  font-weight: regular;
  font-size: 14px;
  text-transform: lowercase;
  color: #E8EEF2;
  border: solid 2px #E8EEF2;
  margin-left: -50%;
}
